{% extends '_base.html' %}

{% block container_fluid %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">							
                <h5 id="widget-title"></h5>
            </div>							
            <div class="widget-content nopadding">
           
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
                <thead>
                    <tr>
                        <th>创建时间</th>
                        <th>侦控服务器</th>
                        <th>操作</th>
                    </tr>
                </thead>                    
                <tbody>
                    {% for i in datas %}
                    <tr>
                        <td>{{i.ctime|date:"Y/m/d H:i"}}</td>
                        <td>{{i.proxyurl}}</td>                       
                        <td>
                            <a class='btn btn-danger' href='javascript:void(0)' onclick="delrecord('{{i.id}}');">删除</a>
                            <a class='btn btn-inverse' target='_blank' href='/downbrowser/?pacid={{i.id}}'>下载Chrome </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate">
                        <a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" id="DataTables_Table_0_first">首页</a>
                        <a tabindex="0" class="previous fg-button ui-button ui-state-default" id="DataTables_Table_0_previous">上一页</a>
                        <span></span>
                        <a tabindex="0" class="next fg-button ui-button ui-state-default" id="DataTables_Table_0_next">下一页</a>
                        <a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="DataTables_Table_0_last">尾页</a>
                    </div>
                </div>                    
            </div>   
                    
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block foot_js %}
    <script src="/uad/uniadmin/js/unicorn.xxgcpagination.js"></script>
    <script type="text/javascript">   
        $(document).ready(function(){        
            xxgcpage.init({{ countpage }}, {{ page }}, 10);
        });
        
        //删除记录
        function delrecord(id){
            window.bootbox.confirm("你确定要删除该记录吗？", function(TF){
                if(TF){
                    $.get('/managejk/?id='+id,function(data,status){
                        if(data == "success") {
                            window.location.reload();
                        }else{
                            window.bootbox.alert("记录删除失败")
                        }
                    });
                }            
            });            
        }
    </script>
{% endblock %}


{% block nav_location %}
    <script type="text/javascript">
        $("#submenu-news").addClass("open active");
        $("#submenu-news li:eq(1)").addClass("active");                
    </script>
{% endblock %}
