{% extends "_base.html" %}

{% block head_style %}
<style type="text/css">
<!--

#div-dialog{
    width:860px;
}

#form8{
    height:500px;
    width:800px;
}
-->
</style>
{% endblock %}

{% block container_fluid %}
    <div class="row-fluid">
        <div class="span12">
            <a style="cursor:pointer;" id="add_data">添加</a>
            <a style="margin-left: 10px; cursor:pointer;" onclick="getFileInformation();">导入</a>
            <a style="margin-left: 10px; cursor:pointer;" href="/zd/txt/">导出</a>            
            <div class="widget-box">
                <div class="widget-title">							
                    <h5 id="widget-title"></h5>
                </div>							
                <div class="widget-content nopadding">               
                
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>站点名称</th>
                        <th>域名</th>
                        <th>国家</th>
                        <th>图标地址</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if datas %}
                        {% for i in datas %}
                            <tr>
                                <td>{{ i.webname }}</td>
                                <td>{{ i.domain }}</td>
                                <td>{{ i.country }}</td>
                                <td>{{ i.favicon }}</td>
                                <td>
                                    <a class="btn btn-danger" href='javascript:void(0)' onclick="delrecord({{ i.id }},'{{ i.webname}}');">删除</a>
                                    <a class="btn btn-inverse" href='javascript:void(0)' onclick="editrecord('{{ i.id }}');">修改</a>
                                </td>                              
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="5">没有监控站点信息</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate">
                        <a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" id="DataTables_Table_0_first">首页</a>
                        <a tabindex="0" class="previous fg-button ui-button ui-state-default" id="DataTables_Table_0_previous">上一页</a>
                        <span></span>
                        <a tabindex="0" class="next fg-button ui-button ui-state-default" id="DataTables_Table_0_next">下一页</a>
                        <a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="DataTables_Table_0_last">尾页</a>
                    </div>
                </div>
                </div>
                
                <div class="bootbox modal fade in" id="div-dialog" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="bootbox-close-button close">×</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="bootbox-body" style="display:table; width:100%;">  
                                    <form class="form-horizontal" role="form" id="form1" method="post" action="." onSubmit="return checkinfo();">
                                        <div>
                                            <input class="hide" type="text" id="data-id" name="dataid" value=""></input>
                                            <textarea class="form-control" id="form8" name="datatext" rows="5">#网易邮箱@163.com&#13;&#10;domain:mail.163.com&#13;&#10;select:yes&#13;&#10;country:中国&#13;&#10;favicon:http://mail.163.com/favicon.ico</textarea>
                                        </div>
                                        <div class="alert-danger hide" style="margin-top:5px;">
                                            注意填写要求(#号、：号和：号前面的字符)，字符串中不能有空格！
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-top:0px;">
                                <button data-bb-handler="cancel" type="button" id="btn-default" class="btn btn-default">取消</button>
                                <button data-bb-handler="confirm" type="button" id="btn-primary" class="btn btn-primary">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-backdrop fade in" style="display: none;"></div>                
                <input type="file" name="file" id="id_file" style="display:none" onchange="displayFileName(this);"/>
                
                </div>							
            </div>
        </div>
    </div> 
{% endblock %}

 {% block foot_js %}
    <script src="/uad/uniadmin/js/unicorn.xxgcpagination.js"></script>       
    <script type="text/javascript">  
      
    //蒙皮
    	function show_bootbox() {
    		$(".bootbox.fade").show();
    		$(".modal-backdrop.fade").show();
    	}
    	
    	function hide_bootbox() {
    		$(".bootbox.fade").hide();
    		$(".modal-backdrop.fade").hide();
    		$("#btn-primary").removeClass("disabled");
    		$("#btn-primary").text("确定");
    	}
    	
    // 取消
    	$("#btn-default").on("click", function () {
    		hide_bootbox()
    	});
    	
    	$(".close").on("click", function () {
    	   hide_bootbox()
    	});
    	
    //确定
    	$("#btn-primary").on("click", function () {
    		if(checkinfo()){
    			$(this).text("正在处理...");
    			$(this).addClass("disabled");
    			$("form").submit();
    			//hide_bootbox();
    			$(".alert-danger").addClass("hide");
    		}else{
    			$(".alert-danger").removeClass("hide");
    		}
    	 });   
    	
    	
    //添加
    	$("#add_data").on("click", function(){
    		console.log($(this).text())
    		$("#data-id").val("");
    		$(".modal-title").text($(this).text()); 
    		show_bootbox();          
    	});
    
    //导入
    	function getFileInformation() {
    		document.getElementById("id_file").click();
    	}
    	
    	function displayFileName(evt) {
    		var f = evt.files[0];
    		if (f) {
    			var r = new FileReader();
    			r.onload = function(e) {
    				var contents = e.target.result;
    				$("textarea").val(contents);
    				$("#add_data").click();
    			}
    			r.readAsText(f);
    		} else {
    			alert("文件加载失败！");
    		}
    	}
        
        function checkinfo() {
            var text_arr = $("textarea").val().split(/\n/);
            for(i in text_arr){
                var str1 = text_arr[i];
                str1 = str1.trim();
                if(str1 != ''){
                    if(/\s/.test(str1) || !(/^(#)|(domain:)|(select:)|(country:)|(favicon:)/.test(str1))){
                        return false;
                    }
                }
            }
            return true;
        }
        
        
    //删除
        function delrecord(id, promptinfo) {
            window.bootbox.confirm("你确定要删除 '" + promptinfo + "' 信息吗？", function(TF){
                if (TF) {
                    $.get("/managezd/", {id: id}, function(data){
                        if (data == 'success') {
                            window.location.reload();
                        }
                        else {
                            window.bootbox.alert('信息删除失败！');
                        }
                        return true;                        
                    }, 'html');
                }
            });
            
        }

        
    
    //修改
        function editrecord(id){
            $.get("/zd/txt/", {id: id}, function(data){
                $("textarea").val(data);
                $(".modal-title").text("修改"); 
                show_bootbox();                
            }, 'html');            
            $("#data-id").val(id);
        }
        
        
        $(function () {
            xxgcpage.init({{ countpage }}, {{ page }}, 10);
        });    
        
    </script>

{% endblock %}

{% block nav_location %}
    <script type="text/javascript">
        $("#submenu-news-1").addClass("open active");
        $("#submenu-news-1 li:eq(0)").addClass("active");            
    </script>
{% endblock %}
