{% extends 'uad/_admin_base.html' %}

{% block title %}chrome主动侦控系统{% endblock %}

{% block body_header %}
    <div id="header">
        <h1 style="line-height:21px;"><span style="color:white; font-size:20px; font-weight:normal;">chrome主动侦控系统</h1>		
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav btn-group">
            <li class="btn btn-inverse"><a title="" href="/logout/"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
        </ul>
    </div>
{% endblock %}

{% block body_sidebar %}
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
        <ul>
            <li><a id="sidebar-header" href="#"><i class="icon icon-home"></i> <span>首页</span></a></li>
            <li class="submenu" id="submenu-news">
                <a href="#"><i class="icon icon-th-list"></i><span>侦控管理</span></a>
                <ul>
                    <li><a href="/createjk/">支持站点</a></li>
                    <li><a href="/managejk/">监控程序</a></li>
                </ul>
            </li>
            <li class="submenu" id="submenu-news-1">
                <a href="#"><i class="icon icon-th-list"></i> <span>设置</span></a>
                <ul>
                    <li><a href="/managezd/">侦控站点</a></li>                
                </ul>
            </li>            
        </ul>
    </div>
{% endblock %}

